@import "reset"

body
  font-size 16px
  font-family 'Roboto' sans-serif
  padding 20px

h1
  font-size 40px
  margin 10px

h1, p
  color #08324C

// main section for the game
.flex-div
  display flex
  flex-direction column
  align-items center

// displaying the wheel
.wheel
  border-radius 50px
  border-right-color #FC2900
  border-top-color #1485CC
  border-bottom-color #FFFC69
  border-left-color #47B24D
  border-width 50px
  border-style solid
  margin 30px

.wheel-div
  display flex
  flex-direction row
  justify-content center

// displaying the colour picked
.red
  color #FC2900

.blue
  color #1485CC

.yellow
  color #FFFC69

.green
  color #47B24D

@keyframes rotate-wheel {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

.animate-rotate
  animation-name rotate-wheel
  animation-duration 5s
  animation-iteration-count infinite
  animation-timing-function linear


// boxes for gameplay; playing the game and seeing the answers
.selected-colour
  font-size 30px
  margin 5px
  text-align center

.play-button
  background-color: white;
  border solid 3px #FC9346
  border-radius 10px
  font-size 20px
  margin 30px
  width 100px

.play-button:focus
  outline none
  border-radius 10px

.winner-prompt
  color #FC2900
  font-size 50px
  margin 20px


// for phones/smaller devices
@media only screen and (max-width: 600px)
  .wheel
    border-radius 50px
    border-right-color #FC2900
    border-top-color #1485CC
    border-bottom-color #FFFC69
    border-left-color #47B24D
    border-width 35px
    border-style solid
    margin 10px

  h1
    margin-bottom 20px
    font-size 30px

  .play-button
    font-size 20px
